*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
    background-color:  rgba(0, 0, 0, 0.881);
}

.customizeNav{
  color: rgb(7, 133, 100);
}
.customizeNav:hover{
    color: rgb(0, 255, 229);
}
